anyio
google-genai
qdrant_client
redis
rq
alembic
duckduckgo_search
fastapi
huggingface_hub
langchain
langchain-qdrant
langchain-core
langchain-huggingface
langchain-protocol
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
PyMySQL
pytest
python-dotenv
scikit-learn
sentence-transformers
SQLAlchemy
structlog
torch
tqdm
transformers
uuid_utils
uvicorn
prometheus-client